@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Share+Tech&display=swap');


html, body, #root {
    height: 100%;
    overflow-x: hidden;
    color: var(--white-text);
    font-weight: 400;
    font-style: normal;
    font-family: var(--font-family-base);
 
  }

* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

:root {
    /* --main-bg-color: #ebf7ff; */
    --white-text: #ffffff;
    --dark-text: #333333;
    --text-shadow: 4px 4px 12px rgba(0, 0, 0, 0.9);
    --font-family-base: "Share Tech", sans-serif;
    --main-bg: #222222;
    --secondary-bg:  #0D2C54;

}

body {
    font-family: var(--font-family-base);
    background-color: #111; 
    color: var(--white-text); 
}




.text_c {
    text-align: center;
}