
.detailSection {
    /* background-color: var(--secondary-bg); */
    background-image: url('../assets/bookings_bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    
}

.detailinfoCert ul li {
    list-style: none;
    text-align: center;
}
