

.certificatesPage {
    background-image: url('https://images.pexels.com/photos/1181316/pexels-photo-1181316.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') !important;
    background-size: cover; /* Gör så att bakgrundsbilden täcker hela elementet */
    background-position: center; /* Centrerar bakgrundsbilden */
    height: 100vh; /* Gör att sidan täcker hela höjden på viewporten */ 
    width: 100%;  
    display: flex; /* Flexbox för att centrera texten */
    justify-content: center; /* Centrerar horisontellt */
    align-items: center; /* Centrerar vertikalt */
  }
  
  h1 {
    font-size: 3rem;
    color: var(--white-text) !important;
    text-shadow: var(--text-shadow);
  }
  
  .certificatesPageSectionTwo {
    width: 100%;     
    background-color: var(--main-bg);
  }

  .certificatepageSectionthree {
    width: 100%;
    background-color: var(--main-bg);
  }

  .course-card {
    transition: ease 0.3s;
    opacity: 0.8;
  }

  .course-card:hover {
    cursor: pointer;
    transform: scale(1.1);
    opacity: 0.4;
  }

  .course-card button {
    font-size: 0.9rem;
  }
  
  .course-card .btn {
    margin-top: 10px;
  }
  
  .course-card .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .course-card .btn-outline-secondary {
    border-color: #ccc;
    color: #333;
  }
  