
.menu {
background: rgba(0, 0, 0, 0.605);
  /* background-color: rgba(14, 8, 8, 0.929); */
  color: white;
  z-index: 10;
}

@media (max-width: 767.98px) {

  .menu {
    background-color: var(--main-bg);   
  }
}

.navbar-collapse,
.nav,
.container {
  background: transparent !important;
}


.navbar-toggler {
  background-color: transparent !important;
  border: none;
  box-shadow: none;
}

.navbar-light .navbar-nav .nav-link {
  color: #f8f9fa !important
}
  
  /* Hover-effekt för länkar */
  .navbar-light .navbar-nav .nav-link:hover {
    color: rgba(255, 81, 0, 0.801) !important; 
  }

  @media (min-width: 992px) {
  .navbar-light .navbar-nav {
    display: flex;
    align-items: center;
  }
}

.logo {
  width: 250px;
  height: 100%;
}

@media (max-width: 768px) {
  .logo {
    max-width: 160px !important;
    height: 40px !important;
  }
}

